world: "/app/world/trusted/world"
dimension: "minecraft:overworld"
name: "Trusted Overworld"
sorting: 5
sky-color: "#7dabff"
void-color: "#000000"
ambient-light: 0.1
remove-caves-below-y: 55
cave-detection-ocean-floor: -5
cave-detection-uses-block-light: false
min-inhabited-time: 0
render-edges: false
save-hires-layer: true
storage: "file"
ignore-missing-light-data: false
marker-sets: {
    cities-markers: {
        label: "Städer",
        toggleable: true
        default-hidden: false
        sorting: 0
        markers: {
            {%- for city in cities %}
            {{ city.id | lower }}: {
                type: "poi",
                position: { x: {{ city.x }}, y: {{ city.y }}, z: {{ city.z }} },
                label: "{{ city.name }}",
                detail: "<p style='width: 200px;'><b>{{ city.name }}</b> är en {{ city.type }} på SGC Trusted. Staden grundades den {{ city.date }} av {{ city.founder }}. Staden ägs av {{ city.owners }}, och styrs som en {{ city.ruleing }}. Kod: {{ city.code }}, Postnummer: {{ city.citycode }}. <a style='pointer-events: all;' href='https://trusted.fandom.com/sv/wiki/{{ city.name }}' target='_blank'>Läs mer på wikin...</a></p>"
                icon: "assets/poi-{{ city.type | lower }}-{{ city.belongs_to | lower }}.png"
                anchor: { x: 25, y: 45 }
                sorting: 0
                listed: true
                min-distance: 10
                max-distance: 10000000
            }
            {%- endfor %}   
        }
    }
}
